/*Custom default css*/
body
{
    background: url("../img/latar.jpg") repeat top left;            
}
.page
{
    /*background-color:transparent;
    border:1px solid #004BA1;*/
    background-color:#696969;
    border:none;
}
.main
{
    
}
.header
{
    /*background:url("../img/GP-logo.png") no-repeat center left;*/
    background-color:#000;
    background-color:transparent;
    text-align:center;
    height:120px;    
    color:#fff;
}
.header-small
{
    height: 65px;
    padding:2px 0;
    border-bottom:4px solid #DD4B39;
    background-color:#000;
}
.header-small td, .header-small table
{
    border:none;
    padding:0;
    margin:0;
}
.header-small a
{
    text-decoration:none;
    color:Red;
}
.header th
{
    text-align:left;
}
.title
{
    /*margin-left:200px;*/
    height:120px;
    width:800px;
    padding-top:0px;
}
.title td
{
    border:0;
    padding:0;
    margin:0;
}
.title h1
{
    color:#0055A6;
    float:left;
    /*text-shadow: 0 0 0.2em #F87, 0 0 0.2em #F87;*/
}
.footer
{
    font-family: Times New Roman,Georgia,Trebuchet MS,Helvetica,sans-serif;
    font-size: 11px;
    /*background:url("../img/footer.png") no-repeat bottom center;*/
    color:#fff;
    height:18px;
    padding:5px 0 0 0;
    border-top:4px solid #DD4B39;
    background-color:#000;
}
.footer a
{
    text-decoration:none;
    color:#fff;
    font-weight:bold;
}
.inp-search
{
    font-size: 15px;
    height: 32px !important;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -moz-box-sizing: border-box;
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #C0C0C0 #D9D9D9 #D9D9D9;
    border-image: none;
    border-radius: 1px 1px 1px 1px;
    border-right: 1px solid #D9D9D9;
    border-style: solid;
    border-width: 1px;
    display: inline-block;
    height: 29px;
    margin: 0;
    padding: 0 5px;
}
.inp-search:focus
{
    font-size: 15px;
    border:1px solid #4A8DFB;
    box-shadow:0 1px 2px rgba(0, 0, 0, 0.3) inset;
    outline:medium none;
}
select.inp-search
{
    padding:10px 0;
    height:21px;
    line-height:27px;
}

.g-btn
{
    font-size: 13px;
    line-height: 29px;
    vertical-align: bottom;
    background-color: #4D90FE;
    background-image: -moz-linear-gradient(center top , #4D90FE, #4787ED);
    border: 1px solid #3079ED;
    color: #FFFFFF;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
    -moz-user-select: none;
    background-color: #F5F5F5;
    background-image: -moz-linear-gradient(center top , #F5F5F5, #F1F1F1);
    border: 1px solid #DCDCDC;
    border-radius: 2px 2px 2px 2px;
    color: #444444;
    display: inline-block;
    height: 29px;
    line-height: 27px;
    min-width: 60px;
    padding: 0 8px;
    text-align: center;
    cursor:pointer;
}
.g-btn:focus, .g-btn:hover
{
    border:1px solid #4A8DFB;
    box-shadow:0 1px 2px rgba(0, 0, 0, 0.3) inset;
}
.hideSkiplink
{
    height:2px;
}
/*End custom*/

.money
{
    font-family:Arial;
    font-size:28px;
    font-weight:bold;
    color: White;
    text-shadow: 0 0 0.2em #F87, 0 0 0.2em #F87;
    /*text-shadow: 0 0 0.2em #8F7;*/
    margin-right:10px;
}
.td-screen
{
    width:650px;
}
.td-total
{
    padding: 2px 0;
}
.td-total span
{
    font-size:20px;
}
.td-nav a
{
    text-decoration:none;
    cursor:pointer;
    font-weight:bold;
    width:128px;
    height:128px;
    display:block;
}
.led-monitor
{
    width: 90px !important;
    background-image: url('../img/zero-digital.png');
    background-repeat: repeat-x;
}
.customer-infor
{
    font-size:24px;
    font-weight:normal;
    text-transform:none;
    margin-right:10px;
    color:#DD4B39
}
.tbl-result tr
{
    /*background:url('../img/tr-bg-red.jpg') repeat-x top left;*/
    background:transparent;
}
.tr-black
{
    background:url('../img/td-bg-black.jpg') repeat-x top left !important;
}
.tr-white
{
    /*background:White !important;*/
}
.tr-white td, .tr-black td
{
    border: none !important;
}
.td-monitor
{
    width:90px;
}
.td-money
{
    width:250px;
}
td.td-multiply
{
    text-align:center;
}
.tbl-result
{
    width:100%;
}
.tbl-result td
{
    border-bottom:1px solid #fff;
}
.start-btn
{
    background-image: url("../img/play.png");
}
.stop-btn
{
    background-image: url("../img/stop.png");
}
#reset-btn, .reset-btn
{
    background-image: url("../img/reset.png");
}
#save-btn
{
    background-image: url("../img/save.png");
}
#player, #player_api
{
    visibility:hidden;
    width:0px !important;
    height:0px !important;
    position:absolute;
}
#dvLoading
{
   background:#000 url(img/loader.gif) no-repeat center center;
   height: 100px;
   width: 100px;
   position: fixed;
   z-index: 1000;
   left: 50%;
   top: 50%;
   margin: -25px 0 0 -25px;
}
#overlay { 
  display:none; 
  position:absolute; 
  background:#fff; 
}
#img-load { 
  position:absolute; 
}
.title-comment
{
    color:Red;
    font-weight:normal;
    font-style:italic;
}